body {
  background-color: floralwhite;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  background-color: darkblue;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.nav-item:hover::after {
  width: 100%;
}

#div-header {
  color: #211f1f;
  background-color: floralwhite;
  height: auto;
  padding: 4rem 2rem 4rem 2rem;
}
#header-pic {
  display: block;
  margin: auto;
  max-width: 70%;
}

#about {
  background-color: #141c3a;
  color: whitesmoke;
  padding: 4rem 2rem 20rem 2rem;
  display: block;
}

#skill {
  background-color: floralwhite;
  border-radius: 25px;
  margin-top: -16rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#skill-list {
  padding: 40px 0;
  text-align: center;
  columns: auto 3;
  column-fill: balance;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#skill li {
  position: relative;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

li:hover .fab {
  opacity: 0.3;
}
li:hover .fas {
  opacity: 0.3;
}

li:hover .middle {
  opacity: 1;
}

.text {
  color: black;
}

#portfolio {
  padding: 30px 30px;
}

.card {
  width: 25rem;
  columns: auto 3;
  background-color: floralwhite;
  color: gray;
  text-align: center;
  margin: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-body .btn {
  background-color: #141c3a;
}

.card img {
  position: relative;
}

.card-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #141c3a;
}

.card:hover img {
  opacity: 0.3;
}

.card:hover .card-text {
  opacity: 1;
}

#contact {
  padding: 5rem 0;
  background-color: #141c3a;
  color: whitesmoke;
  border-radius: 15px;
  margin: 0 0.5rem -9rem 0.5rem;
  position: relative;
  z-index: 1;
}

#footer {
  background-color: grey;
  padding: 10rem 2rem 4rem 2rem;
}

/* Color scheme for fonts */
.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #1680c0;
}
.fa-js-square {
  color: #f0db4f;
}
.fa-react {
  color: #61dbfb;
}
.fa-bootstrap {
  color: #080135;
}
.fa-node-js {
  color: #3c873a;
}
.fa-python {
  color: #4b8bbe;
}
.fa-github-square {
  color: #211f1f;
}
